#topbar {
    width: 100%;
    margin-left: -10px;
    top: -20px;
    height: 160px;
    background-color: white;
    z-index: 5;
    overflow: hidden;
    position: fixed; 
}
#firstrow {
    width: 100%;
    height: 300px;
}
.logo {
    
}

#spacer {
    width: 100%;
    height: 15px;
}

#fourthrow {
    width: 100%;
    height: 300px;
}


a.mainNav:link    {
  /* Applies to unvisited links of class mainNav */
  text-decoration:  none;
  font-weight:      bold;
  color:            black;
  } 
a.mainNav:visited {
  /* Applies to visited links of class mainNav */
  text-decoration:  none;
  font-weight:      bold;
  color:            black;
  } 
a.mainNav:hover   {
  /* Applies to links under the pointer of class mainNav */
  text-decoration:  underline;
  font-weight:      bold;
  color:            black;
  } 
a.mainNav:active  {
  /* Applies to activated links of class mainNav */
  text-decoration:  underline;
  font-weight:      bold;
  color: black;
  } 

#leftSide {
    width: 75%;
    height: 100%;
    
}
#thirdrowRight{
    width: 50%;
    height: 100%;
    font-size: 12px;
    color: #58595b;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 500;
    word-wrap: break-word;
}
#imgcontainer2{
    width:100%; 
    background-color:red; 
    height: 40%; 
    overflow: hidden;   
    background: url(download.png) center center no-repeat;
    background-color: aliceblue;
    float: left;
}
#textcontainer2{
    width:49.5%;
    height:100%;
    left:54%;
    float:right;

}
#nameanddate{
    position:absolute;
    top: 280px;
    height: 20px;
    width: 50%;
}
#name{ 
    font-family : Georgia, Times, "Times New Roman", serif;
    font-size : 16px;
    color : #151314;
    width: 50%; 
    float: left; 
}
#verticalspacer {
    width: 1.33%;
    height: 100%;
    float:left;
}
#date{
    font-family : Georgia, Times, "Times New Roman", serif;
    position: absolute;
    font-size : 16px;
    color : #151314;
    width: 49%;
    left: 50%;
    text-align: right;
    float: right; 
}
#bottomline { 
    width: 110%;
    top: 100%;
    margin-right: -100px;
    height: 2px;
    position:absolute; 
    background-color: lightgray;
    margin-top: -1px;
}
#leftline {
    height: 80px;
    width: 300px;
    position: absolute;
    background-color: #212121; 
    left: 50%;
    margin-top: 10px;
    margin-left: -345px;
}
#rightline {
    height: 80px;
    width: 300px;
    position: absolute;
    background-color: #212121; 
    left: 50%;
    margin-top: 10px;
    margin-left: 45px;
}
#rightinnerbox {
    height: 72px;
    width: 100%;
    position: absolute;
    background-color: white; 
    margin-left: 4px;
    margin-top: 4px;
}
#thirdrow {
    width:100%;
    height:250px;
    line-height: 110%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.rect {
    width: 24%;
    height: 100%;
    float:left;
}
#secondrow {
    width: 100%;
    height: 300px;
}
.titleText {
   	font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 140%;
	font-size: 22px;
    color: #1d2129;
    transform: translateX(-5px);
	font-style: normal;
    z-index: 3;
	font-variant: normal;
	font-weight: 700; 
}
.subheadingText {
    line-height: 135%;
   	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
    color: #58595b;
    z-index: 3;
	font-style: normal;
	font-variant: normal;
	font-weight: 500; 
}
#centerdiv {
    position: absolute;
    width: 900px;
    height: 100%;
    left: 50%;
    top: 175px;
    margin-left: -450px;
    z-index: 1;
}
#leftinnerbox {
    height: 72px;
    width: 100%;
    position: absolute;
    background-color: white; 
    margin-left: -4px;
    margin-top: 4px;
}
#mainlogo {
    height: 100px;
    top: 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}
#textlogo {
    height: 100px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 80px;
    overflow: hidden;
    margin-left: -100px;
}
#otherlogo {
    height: 100px;
    width: 300px;
    top: 100px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}
#nene { 
    height: 9000px;
}
#rectTitle {
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 120%;
	font-size: 14px;
    color: #000000;
	font-style: normal;
    z-index: 3;
	font-variant: normal;
	font-weight: 700; 
}

#halfrecttitle{
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 120%;
	font-size: 14px;
    color: #000000;
	font-style: normal;
    z-index: 3;
	font-variant: normal;
	font-weight: 700; 
}

#rectsub {
    line-height: 135%;
   	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
    color: #58595b;
    z-index: 3;
	font-style: normal;
	font-variant: normal;
	font-weight: 500; 
    overflow:hidden;
}

#thirdrowleftSide {
    float:left;
    width:50%;
    
}

#thirdrowLeft {
    width:50%;
    float:left;
    height:100%;
    font-size:12px;
    color: #58595b;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 500;
    word-wrap: break-word;
//    margin-left: 5px;
//    margin-top: 5px;

}
#thirdrowLeftImage {
    width: 250px;
    height: 150px;
    float:left;
    font-size:12px;
    background: url(download.png) center center no-repeat;
    word-wrap: break-word;

}

#leftimagecontainer {
    width:255px;
    height:156px;
    float:left;
}

div {
    
}

#imgcontainer3 {
    width: 99%; 
    background-color:red; 
    height: 100%; 
    overflow: hidden;   
    background: url(download.png) center center no-repeat;
    background-color: aliceblue;
    float: left;
}

#fifthrow {
    width: 100%;
    height: 350px;
}

#sixthrow {
    width: 100%;
    height: 700px;
}

#imgcontainer1 {
    #imgcontainer1{
    width:49%; 
    background-color:red; 
    height: 100%; 
    overflow: hidden;   
    background-color: aliceblue;
    float: left;
}
}
