        <div id="fifthrow">
            <div style="width:100%; height: 40px; position: absolute; text-align: center; font-size: 40px;font-family: Georgia, Times, 'Times New Roman', serif;">
                Contributors
            </div>
            {% assign contrib = site.data.contributors.contributors["1"] %}
            <div style="width:620px; height:150px; position: absolute; left: 50%; margin-left: -310px; margin-top: 50px;">
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">
                        t
                        {% for post in site.posts %}
                            {% if post.aID == '9999' and  {{post.contributorId | plus:0}} == contrib.id %}
                                    <a class="mainNav" style="font-weight:normal;"href="{{post.link}}">
                                        <div style="width:100%; height: 40px; line-height: 1; text-align: center; font-family: inherit">{{contrib.nameFirst}} {{contrib.nameLast}}</div>
                                    </a>    
                            {% endif %}
                        {% endfor %}
                        
                </div>
            {% assign contrib = site.data.contributors.contributors["2"] %}

                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">
                            
                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


               
                        
                </div>
            {% assign contrib = site.data.contributors.contributors["3"] %}

                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


         
                        
                </div>
            {% assign contrib = site.data.contributors.contributors["4"] %}
                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


                        
                </div>
                    {% assign contrib = site.data.contributors.contributors["5"] %}

                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


                        
                </div>            {% assign contrib = site.data.contributors.contributors["6"] %}

                <div style="width: 30px; float:left; height:100%;"></div>
            </div>
            <div style="width:510px; height:150px; position: absolute; left: 50%; margin-left: -255px; margin-top: 200px;">
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


                        
                </div>            {% assign contrib = site.data.contributors.contributors["7"] %}

                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


                        
                </div>            {% assign contrib = site.data.contributors.contributors["8"] %}

                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">


                        
                </div>            {% assign contrib = site.data.contributors.contributors["9"] %}

                <div style="width: 30px; float:left; height:50%;"></div>
                <div style="width:100px; float:left; left: 25%; ">
                        <div style="width:100%; height: 12px;">

                        </div>
                        <img height=100px width=100px style="    opacity: 0.8;
                        width: 100%; height: 100px;    border-radius: 50%;" src="{{contrib.image}}">

                        
                </div>            {% assign contrib = site.data.contributors.contributors["10"] %}

            </div>
                
        
        </div>