        <div id="firstrow">
            <div id="imgcontainer1">
            </div>
            <div id="textcontainer2">
                <div class="titleText">
                    {{ site.articles[include.meme.content[0]].title }}
                </div>
                <div class="subheadingText">
                    {{ site.articles[include.meme.content[0]].text }}
                </div>
                <div id="nameanddate">
                    <div id="name">
                        By {{ site.articles[include.meme.content[0]].authorName }}
                    </div>
                    <div id="date">
                        {{ site.articles[include.meme.content[0]].date }}
                    </div>
                </div>
            </div>
        </div>