        <div id="secondrow">
            {% for i in (0..3) %}
                <div id="firstbox" class="rect">
                {% capture id %}{{include.meme[i]}}{% endcapture %}
                    <div id="imgcontainer2"></div>
                    <div id="textcontainer">
                        <div style="width:100%; height:3px; float:left;"></div>
                        <div id="rectTitle">
                            {{ site.data.articles.articles[id].title }}
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div id="rectsub">
                            {{ site.data.articles.articles[id].text | truncate: 100, " . . .  " }}
                        </div>
                    </div>
                    <div id="dateandtime2" style="width: 100%; height: 15px;font-size: 10px; float: right;word-wrap: break-word; font-weight: 700">
                        <div id="name2" style="float: left; text-align: left; width:50%;height:100%">
                            By {{ site.data.articles.articles[id].authorName }}
                        </div>
                        <div id="date2" style="float: right; text-align: right; width:50%; height:100%; ">
                            {{ site.data.articles.articles[id].date }}
                        </div>
                    </div>
                </div>
                {% if i == 0 or i == 1 or i == 2 %}
                    <div id="verticalspacer"></div>
                {% endif %}
            {% endfor %}

        </div>