---
layout: default
---

<html>
    <link rel="stylesheet" type="text/css" href="/main.css">

    <script src="/js/article.js"></script>

        <div style="width:200px; height: 1032px; float:left;"id="leftbar">
            <div style="width:100%; height: 170px; float:left; margin-bottom: 50px;">
                <div style=" background:  center center no-repeat; height: 60%; width:60%; margin-left: 20%; margin-top: 20%;clip-path: circle(40%);">
                </div>
                <img src="{{site.data.contributors.contributors[page.contributorId].image}}" height ="100px" width = "100px" style="margin-left: 50px;margin-top: -50px;border-radius: 50%;">
                <div style="font-size: 13px; color: #58595B;float:left; width:60%; margin-left: 20%; text-align: center; ">Written By: </div>
                <div style="font-size: 24px; color: #231f20;float:left; width:80%; margin-left: 10%; text-align: center; ">{{page.author}}</div>
            </div>
            <div style="width:1px; height: 20px;"></div>
            <div id="otherarticles" style="width:200px; height:700px; float:left; margin-top:20px"> 
                <div style="width: 200px; float:left; height: 140px; margin-top:40px">
                    <img style="width: 180px; margin-left: 10px; height: 100px;" src="{{site.data.articles.articles[page.firstArticle].images[0].image }}">
                    
                    <div style="width: 180px; margin-left: 10px; font-size: 15px; font-weight: 700; margin-top: 3px;">
                        {{ site.data.articles.articles[page.firstArticle].title }}

                    </div>                    <div style="width:5px;"></div>

                    <div style="width: 180px; height: 40px;"></div>
                </div>
                <div style="width: 200px; float:left; height: 140px; margin-top:40px">
                    <img style="width: 180px; margin-left: 10px; height: 100px;" src="{{site.data.articles.articles[page.secondArticle].images[0].image }}">

                    <div style="width: 180px; margin-left: 10px; font-size: 15px; font-weight: 700; margin-top: 3px;">

                        {{ site.data.articles.articles[page.secondArticle].title }}
                    </div>                    <div style="width:5px;"></div>

                    <div style="width: 180px; height: 40px;"></div>
                </div>
                <div style="width: 200px; float:left; height: 140px; margin-top:40px">
                    <img style="width: 180px; margin-left: 10px; height: 100px;" src="{{site.data.articles.articles[page.thirdArticle].images[0].image }}">

                    <div style="width:5px;"></div>
                    <div style="width: 180px; margin-left: 10px; font-size: 15px; font-weight: 700; margin-top: 3px;">
                        {{ site.data.articles.articles[page.thirdArticle].title }}
                    </div>                    <div style="width:5px;"></div>

                    <div style="width: 180px; height: 40px;"></div>
                </div>
                <div style="width: 200px; float:left; height: 140px; margin-top:40px;">
                    <img style="width: 180px; margin-left: 10px; height: 100px;" src="{{site.data.articles.articles[page.fourthArticle].images[0].image }}">
                    <div style="width:5px;"></div>

                    <div style="width: 180px; margin-left: 10px; font-size: 15px; font-weight: 700; margin-top: 3px;">
                        {{ site.data.articles.articles[page.fourthArticle].title }}
                    </div>
                    <div style="width: 180px; height: 40px;"></div>
                </div>
            
            
            </div>
        </div>     
        <div id="rightside" style="width:700px; height: 1032px; float:left;">
            <div id="title@" style="width:700px; float: left;  font-size: 42px;color: #231F20;">
                {{page.title}}
            </div>
            <div id="sub@" style="width:685px; float: left;  font-size: 17px;color: #58595B;  line-height : 30.2px; margin-left: 15px;" >
                By {{page.author}}
            </div>
            <div style="width:685px; float: left;  color: #383838;  line-height : 20.2px; margin-left: 15px; font-size: 16px;font-family: Georgia, Times, 'Times New Roman', serif;">
                {{content}}
            </div>
            <div style="width:100%; height: 50px; font-size: 16px;font-family: Georgia, Times, 'Times New Roman', serif;">
                <div style="width:50%; text-align: left; float:left;">
                {{page.author}}
                </div>
                <div style="width:50%; text-align: right; float:right">
                {{page.dateDisp}}
                </div>
            </div>
        </div>
        <div id="sixthrow" style="float:left; margin-top: 175px">
            <div style="width:100%; height: 40px; position: absolute; text-align: center; font-size: 40px;font-family: Georgia, Times, 'Times New Roman', serif;">
                The {{page.month}} Issue
            </div>
            <div style="position: absolute; transform: translateY(50px); height: 95%; width:100%;">
                <div style="width:100%; height:260px;">
                    <div style="width:33.33%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(/graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                    <div style="width:33.33%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(/graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                    <div style="width:33.33%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                </div>
                <div style="width:100%; height:260px;">
                    <div style="width:25%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                    <div style="width:25%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                    <div style="width:25%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                    <div style="width:25%; height: 100%; float:left;">
                        <div style="width: 100%; height: 155px;">
                            <div style="width:95%; height: 95%; margin-left: 2.5%; margin-top: 2.5%; background: url(/graphics/download.png) center center no-repeat;">
                            </div>
                        </div>
                        <div style="font-family: Georgia, Times, 'Times New Roman', serif; line-height: 120%; font-size: 13px; color: #000000; font-style: normal; z-index: 3; font-variant: normal; font-weight: 700; width: 95%; margin-left: 2.5%;">
                            Lorem ipsum dolor sit amet, consectetur adipscing elit. Nunc porta turpis.
                        </div>
                        <div style="width:100%; height: 5px;"></div>
                        <div style="font-family: inherit;margin-left: 2.5%;color: #58595b;font-size: 12px;">
                            eeee
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="getmonth" style="font-size: 0px;">{{page.month}}</div>
</html>