---
layout: default
---

        <div style="width:100%: height: 200px; float:left;">
            <img src="{{site.data.contributors.contributors[page.contributorId].image}}" height ="200px" width = "200px" style="border-radius: 50%; float:left; position:absolute;" >
            <div style=" float:left; margin-left:200px;">
                <div style=" width:60%;height: 40px;font-size: 40px;font-family: Georgia, Times, 'Times New Roman', serif; float:left; margin-left:10px; margin-top:-10px" >
                {{site.data.contributors.contributors[page.contributorId].nameFirst}}  {{site.data.contributors.contributors[page.contributorId].nameLast}}
                </div>
                <div style="float:left; height:15px;margin-left:15px; width:60%; line-height: 180%;">
                {{site.data.contributors.contributors[page.contributorId].possition}}
                </div>
                <div style="float:left; height:50px;margin-left:15px; font-size: 17px;font-family: Georgia, Times, 'Times New Roman', serif; color:grey; line-height: 180%;">                 {{site.data.contributors.contributors[page.contributorId].bio}}
                </div>
            </div>
        </div>